.container {width: 1100px;height:1400px;margin:0 auto;}
#content {overflow:auto;}
#post {width: 500px; float:left;}
#sidebar {width: 500px; float:right;}
h2 {color: #315d34;}
a {color:#6c6d5d;}
.il {display: inline;}
.region {padding: 20px; }
.header {background-color: #f2f1ec; color:#315d34;border-block-style: solid;}
.content {background-color: #315d34;height: 110px;color: white; border-block-style: solid;}
.feedback {background-color: #f2f1ec; height: 190px;}
.footer {background-color: #d9d9d9; height: 140px; }
.navigation {background-color: #EEEEEE; color: #606144;}